<div class="card" style="width: 18rem;">
    <img src="https://studappkl.files.wordpress.com/2018/08/student-3500990_1920.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Full Name</h5>
        <p class="card-text">Etudiant en deusiémé année MQL</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Matiere 1 : </li>
        <li class="list-group-item">Matiere 2 : </li>
        <li class="list-group-item">Matiere 3 : </li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Modifier</a>
        <a href="#" class="card-link">Supprimer</a>
    </div>
</div>